.App {
  text-align: center;
  width: 50%;
  min-height: 70vh;
  background-color: rgb(255, 197, 255);
 margin-left: auto;
 margin-right: auto;
 padding-top: 15px;
 margin-top: 20px;
 border-radius: 25px;
 border: 4px solid #ffffff;
}
